#gr_tabs {
   width: 60%;
   margin-left: 20%;
   margin-right: 20%;
   margin-top: 16px;
   height: 100%;	
}

#groups_tabs_toolbar {
   margin-top: 10%;
   margin-left: 40px;
   font-size: small;
   background-color: #fef4ed
   background-color: red;
   padding: 4px;
}

#groups_tab_sidebar {
   background-color: #e7eef3;
   width: 23%;
   float: right;
   margin: 4px;
   margin-top: 58px;
   padding: 6px;
}

#groups_tab_messages {
   background-color: #E6E6E6;
   width: 75%;
   height: 500px;
   float: left;
   overflow: auto;
   margin-top: 4px;
   padding-top: 4px;
   
}

.owned_group_name {
   font-weight: bold;
}

#group_title {
   background-color: green;
   padding: 3px;
   margin-left: 2px;
}

.nick {
    color: #66f;
}

.self {
    color: #f66;
}